<!-- <p style="color: white;">Transaction works!</p> -->

<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <br>
  </nav>
  <h1 style="color: white; text-align: center;" te>Transaction History</h1>
  <br><br>

  <table style="color: white;">
      <thead>
          <tr>
              <th>Type</th>
              <th>Amount</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
            <th>{{transaction.type}}</th>
            <th>{{transaction.amount}}</th>
        </tr>
      </tbody>
  </table>
  <br>
  <a routerLink="/dashboard" style="font-size: 10px; margin-left: 650px; margin-right: auto;">Home</a>
